.movieId{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  .info{
    .genres{
      margin-bottom: 1em;
    }
    a{
      text-decoration: none;
      color: blueviolet;
    }
    a:hover{
      text-decoration-line: underline;
    }
  }
  .image{
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 1em;
  }
}